---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects } from '@/lib/data-utils'

const projects = await getAllProjects()
---

<Layout>
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

  <img src="/static/me_qt.jpg" />
  <section>
    <div class="min-w-full">
      <h2 class="text-3xl mb-5">About</h2>
      <div class="prose mb-8">
        <p class="mb-4">
        My name is Cristián, and I am currently working at
        <Link
          href="https://qt.io"
          class="text-foreground"
          external
          underline>The Qt Company</Link>
        as a Senior R&D Manager in the Qt Foundations area, in charge of the Qt
        Core (Berlin) team, and the
        <Link
          href="https://doc.qt.io/qtforpython"
          class="text-foreground"
          external
          underline>Qt for Python</Link>
        project, project where I'm one of the developers focusing my work
        mainly on PySide.
        In April 2025, I started to work as the Technical Lead of the
        <Link
          href="https://qt.io/qt=bridges"
          class="text-foreground"
          external
          underline>Qt Bridges</Link>
        project, which aims to enable other languages to be the backend of Qt Quick applications.
        </p>

        <p class="mb-4">
        I spent most of my spare time in Open Source initiatives, mainly
        focused in Python. Besides being the co-organizer of
        <Link
          href="https://pythonchile.cl"
          class="text-foreground"
          external
          underline>Python Chile</Link>
        , I am also associated to
        <Link
          href="https://es.python.org"
          class="text-foreground"
          external
          underline>Python España</Link>
        , and with many people we started an initiative called
        <Link
          href="https://hablemospython.dev"
          class="text-foreground"
          external
          underline>Python en Español</Link>
        , which aims to be a central place for the whole Spanish Speaking
        Python community.
        For a few years, I have been helping with the
        <Link
          href="https://europython.eu"
          class="text-foreground"
          external
          underline>EuroPython</Link>
        conference, and other activities close to the
        <Link
          href="https://europython-society.org"
          class="text-foreground"
          external
          underline>European Python Society</Link>
        .
        I got elected as a
        <Link
          href="https://python.org/psf"
          class="text-foreground"
          external
          underline>Python Software Foundation</Link>
        director in
        <Link
          href="https://pyfound.blogspot.com/2024/07/announcing-2024-psf-board-election.html"
          class="text-foreground"
          external
          underline>July 2024</Link>
        , which is a role I still have.
        </p>

        <p class="mb-4">
        I got my Doctorate in Astrophysics at the
        <Link
          href="https://aei.mpg.de"
          class="text-foreground"
          external
          underline>Max-Planck-Institut für Gravitationsphysik (Albert-Einstein-Institute)</Link>
        , working on the numerical modeling of Black Holes binaries, and
        Globular clusters. To achieve this, I performed astrophysical N-body
        and SPH simulations, using High Performance Computing resources and
        tools, mainly GPU computing.
        </p>

        <p class="mb-4">
        In the past I got my Engineer and Master degree in Informatics
        (Computer Science) at the
        <Link
          href="https://usm.cl"
          class="text-foreground"
          external
          underline>Universidad Técnica Federico Santa María</Link>
        in Chile, from which I got the motivation of working with applied HPC
        simulations.
        </p>

        <p class="mb-4">
        Check the <a href="/community">community work</a> that I'm currently
        involved with, and also most of the research work during my <a
        href="/academia">Academia period</a>.
        </p>
      </div>
    </div>
  </section>
</Layout>
