---
import BlogCard from '@/components/BlogCard.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import { buttonVariants } from '@/components/ui/button'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getRecentPosts } from '@/lib/data-utils'


const blog = await getRecentPosts(SITE.featuredPostCount)
---

<Layout>
  <PageHead slot="head" title="Cristián's Home" />
  <section>
    <div class="rounded-lg border h-[50dvh] flex flex-col place-content-center text-center">
    <a href="/about"><img class="mx-auto rounded-full h-[15dvh] my-10 grayscale hover:grayscale-0" src="/static/me.jpg"/></a>
    <h2 class="xl:text-xl lg:text-md md:text-sm text-lg">Hello 👋 my name is</h2>
    <h1 class="xl:text-5xl lg:text-3xl md:text-3xl text-2xl py-5">Cristián</h1>
    <h2 class="xl:text-xl lg:text-md md:text-sm pb-10">
      I'm a FLOSS enthusiast,<br>helping with conferences and communities.<br>
      Currently working at Qt.
    </h2>
    </div>
  </section>
  <section class="flex flex-col gap-y-4">
    <h2 class="text-2xl font-medium">Latest posts</h2>
    <ul class="flex flex-col gap-y-4">
      {
        blog.map((post) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <Link
        href="/blog"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all posts <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section>
</Layout>
