---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects } from '@/lib/data-utils'

const talks = [
{
  "date": "February, 2022",
  "type": "Talk",
  "title": "Application UI",
  "location": "Vilnius, Lithuania",
  "event": "PyCon Lithuania",
}
]

---

<Layout>
  <PageHead slot="head" title="Speaking" />
  <Breadcrumbs items={[{ label: 'Speaking', icon: 'lucide:info' }]} />

  <section>
    <div class="min-w-full">
      <ol class="relative border-s border-gray-200 dark:border-gray-700">

        {talks.map((talk) => (
        <li class="mb-10 ms-4">
          <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
          <time class="mb-1 text-sm font-normal leading-none text-gray-600 dark:text-gray-500">{ talk.date }</time>
          <h3 class="text-xl font-semibold text-gray-900 dark:text-white">{ talk.title }</h3>
          { talk.type.includes("Talk") && <span class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-blue-900 dark:text-blue-300">Talk</span> }
          { talk.type.includes("Keynote") && <span class="bg-purple-100 text-purple-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-purple-900 dark:text-purple-300">Purple</span> }
          { talk.type.includes("Meetup")  && <span class="bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-red-900 dark:text-red-300">Red</span> }
          { talk.type.includes("Webinar") && <span class="bg-purple-100 text-purple-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-purple-900 dark:text-purple-300">Purple</span> }
          { talk.type.includes("Thesis")  && <span class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-green-900 dark:text-green-300">Green</span> }
          { talk.type.includes("Podcast") && <span class="bg-pink-100 text-pink-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-pink-900 dark:text-pink-300">Pink</span> }
          { talk.type.includes("Panel")   && <span class="bg-yellow-100 text-yellow-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-yellow-900 dark:text-yellow-300">Yellow</span> }
          <p class="mb-4 text-base font-normal text-gray-800 dark:text-gray-200">
          { talk.event } @ { talk.location }
          </p>
        </li>
        ))}

      </ol>
    </div>
  </section>
</Layout>
